<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">IMG</h1>

    </div>
    <h3>欢迎来到IMG</h3>
    <form class="m-t" role="form">
      <div class="form-group">
        <input type="email" class="form-control" name="userName" [(ngModel)]="userName" placeholder="账号" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  name="passWord" [(ngModel)]="password" placeholder="密码" required="">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" (click)="login()">登陆</button>

      <a href="#"><small>忘记密码?</small></a>
    </form>
    <p class="m-t"> <small></small> </p>
  </div>
</div>
